#header{
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: flex-end;
    width: 85%;
}

#header .title{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

#header .title img{
    max-width: 3em;
}

#header .title h2{
    padding-left: 0.5em;
}

#header .score{
    margin: 0;
    color: darkcyan;
}

#header .tried{
    margin-top: 0;
}


#cards{
    display: flex;
    flex-wrap: wrap; 
    width: 85%;
    margin: 0 auto;
}

.card{
    box-sizing: border-box;
    margin: 2px;
    flex:7% 0 1 ;
    height: 8vw;
    border: 2px solid #e0e0e0;
    display: flex; 
    flex-direction: column;
    justify-content: space-around;
}

.card img{
    max-width: 50%;
    align-self: center;
}

.card p {
    margin: 5px;
    font-size: 15px;
}

.card p:last-child{
    transform: rotate(180deg);
}

.back {
    background: url('./pumbaas.png');
    background-size: cover;
  }


.paired{
    background-color: lightcyan;
}

.wrong{
    animation: 0.2s wrongAnimation;
    animation-iteration-count: 5;
}

@keyframes wrongAnimation {
    to{
        border: 2px solid red
    }
}

.completed{
    position: absolute;
    z-index: 999;
    width: 98%;
    background-color: RGBA(232, 246, 254, 0.8);
    padding: 50px 0;
    height: 80vh;
}

.completed > p {
    position: relative;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    font-size: 1.5em;
    color: black;
    text-align: center;
    margin: 0;
  }

.completed > p:first-child {
    font-size: 3em;
    font-weight: 700;
    color: #758d9a;
}